@charset "UTF-8";

/*========== Kleur variabelen*/

:root {
 --achtergrond-grijs: #E6E6E9;
 --blauw: #263272;
 --geel:#FCCC04;
}
/*gebruik: var(--achtergrond-grijs)*/

/*========== Algemene selectoren*/

* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	/*transition*/
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}
p, h1, h2, h3 {
	color: var(--blauw);
}

/*========== Mobiel*/

/*Header*/

header {
	background-color: var(--blauw);
	position: fixed;
	top: 0;
	width: 100%;
	height: 3rem;
	z-index: 1;
}
header nav a p {
	text-decoration:none;
	font-size:1.5rem;
	color: white;
	display: none;
}
header nav a {
	font-family: 'Roboto', sans-serif;
	color: white;
}
header nav a img {
	display: block;
	height: 2rem;
	position: fixed;
}
[src="img/nslogo.png"] {
	left: 1rem;
	top: 0.5rem;
}
[src="img/hart.png"] {
	top:0.5rem;
	right:3.5rem;
}
[src="img/login.png"] {
	top:0.5rem;
	right:1rem;
}

/*button*/
button{
	z-index: 1;
	height:3rem;
	width:3rem;
	background-color: var(--blauw);
	position:fixed;
	bottom:0;
	padding:0;
	border:0;
	border-radius:0;
}
button p{
	display:none;
}

button img{
	height:100%;
	width:100%;
	
}
button:first-of-type/*zoeken*/{
	bottom:9rem;
}
button:nth-of-type(2)/*darkmode*/{
	padding:0.7em;
	bottom:5rem;

}
/*========== Mobiel tussen*/

@media (min-width: 30rem) {
		
	/*header*/
	
	header nav a p {
		display:block;
		position:fixed;
		font-size:1.1rem;
		top:0.9rem;
	}
	header nav a:first-of-type /*NS stories*/ p{
		display:none;
	}
	
	header nav a:nth-of-type(2) p /*opgeslagen*/{
		right:11rem;
	} 
	header nav a:nth-of-type(3) p/*login*/{
		right:3.5rem;
		
	}
	
	[src="img/hart.png"] {
	top:0.5rem;
	right:8rem;
	}
	
	[src="img/login.png"] {
	top:0.5rem;
	right:1rem;
	}


}
/*========== Tablet*/
@media (min-width: 45rem) {
	
	/*header*/
	
	header nav a p {
		display:block;
		position:fixed;
		font-size:1.1rem;
		top:0.9rem;
	}
	header nav a:first-of-type /*NS stories*/ p{
		left:7rem;
	}
	
	header nav a:nth-of-type(2) p /*opgeslagen*/{
		right:17rem;
	} 
	header nav a:nth-of-type(3) p/*login*/{
		right:10rem;
		
	}
	
	/*[src="img/nslogo.png"] {
	left: 1rem;
	top: 0.5rem;
	}*/
	
	[src="img/hart.png"] {
	top:0.5rem;
	right:14rem;
	}
	
	[src="img/login.png"] {
	top:0.5rem;
	right:7.5rem;
	}

	/*buttons*/
	
	button{
		background-color:transparent;
	}
	button:first-of-type/*zoeken*/{
		top:-0.1rem;
		right:0.5rem;
	}
	button:nth-of-type(2)/*darkmode*/{
		top:-0.1rem;
		right:3.5rem;
	}
}
	
/*========== Tablet tussen*/

@media (min-width: 60rem){
	
	/*de transition op de button was echt intens lelijk dus ik moest er iets aan doen*/
	
	button img{
	-moz-transition: none;
    -webkit-transition: none;
    transition: none;
	}
}


/*========== desktop*/

@media (min-width: 70rem){
	
	
	/*header*/
	
	header{
		width:15rem;
		height:100%; 
	}
	
	header nav a p {
	font-size:1.3rem;
	}
	
	header nav a:first-of-type /*NS stories*/ p{
		top:1.8rem;
		left:7.3rem;
	}
	
	[src="img/nslogo.png"] {
		left: 1rem;
		top: 1.5em;
	}
	
	header nav a:nth-of-type(2) p /*opgeslagen*/{
		left:2rem;
		top:10rem;
	} 
	
	[src="img/hart.png"] {
		top:9.8rem;
		left:11rem;
		width:2rem;
		height:auto;
	}
	header nav a:nth-of-type(3) p/*login*/{
		left:2rem;
		top:13.6rem;
	}

	[src="img/login.png"] {
		width:2rem;
		height:auto;
		top:13rem;
		left:11rem;
	}
	
	button{
		position:fixed;
		/*border:white dotted;*/
		cursor:pointer;
		width:15rem;
		padding:0;
		margin:0;
		
	}
	button:first-of-type/*zoeken*/{
		left:0;
		top:16rem;
	}
	button:nth-of-type(2)/*dark mode*/{
		left:0;
		top:19rem;
	}
	button p{
		font-size:1.3rem;
		color:white;
		display:block;
		position:fixed;
		
	}
	button img{
	height:2rem;
	width:2rem;
	}
	button:first-of-type p/*zoeken*/{
		top:17.2rem;
		left:2rem;
	}
	button:first-of-type img/*zoeken*/{
		position:fixed;
		height:3rem;
		width:3rem;
		top:16.8rem;
		left:10.3rem;
	}
	
	button:nth-of-type(2) p/*Dark mode*/{
		top:21rem;
		left:2rem;
	}
	
	button:nth-of-type(2) img /*dark mode*/{
		position:fixed;
		height:2rem;
		width:2rem;
		top:21rem;
		left:11rem;
	}

}