@charset "UTF-8";
/*========== Kleur variabelen*/

:root {
 --achtergrond-grijs: #E6E6E9;
 --blauw: #263272;
 --geel:#FCCC04;
}
/*gebruik: var(--achtergrond-grijs)*/

/*========== Algemene selectoren*/

* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	/*transition*/
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}
p, h1, h2, h3 {
	color: var(--blauw);
}

/*========== Mobiel*/

/*Header*/

header {
	background-color: var(--blauw);
	position: fixed;
	top: 0;
	width: 100%;
	height: 3rem;
	z-index: 1;
}
header nav a p {
	color: white;
	display: none;
}
header nav a {
	font-family: 'Roboto', sans-serif;
	color: white;
}
header nav a img {
	display: block;
	height: 2rem;
	position: fixed;
}
[src="img/nslogo.png"] {
	left: 1rem;
	top: 0.5rem;
}
[src="img/hart.png"] {
	top:0.5rem;
	right:3.5rem;
}
[src="img/login.png"] {
	top:0.5rem;
	right:1rem;
}
/*Main*/

body/*achtergrond kleur e.d.*/ {
	background-color: var(--achtergrond-grijs);
}
/*categorieen*/


section {
	display: flex;
	width: 100%;
	overflow-x: scroll;
	margin-top: 2rem;
}
section:first-of-type {
	margin-top: 4rem;
}
article:first-of-type {
	margin-left: calc((100% - 17rem) / 2);
}
article:last-of-type{
	margin-right:2rem;
	/*Waarom werkt dit niet?*/
}

h2 {
	position: absolute;
	margin-left: calc((100% - 17rem) / 2);
	font-size: 1.2rem;
}
/*Kaartje*/

article /*Kaartje*/ {
	margin: 1rem;
	margin-top: 2rem;
	background-color: white;
	width: 17rem;
	height: 17rem;
	position: relative;
	flex: none;
	
}
article img:first-of-type /*thumbnail*/ {
	width: 100%;
	height: 14rem;
	overflow: hidden;
	object-fit: cover;
}
h3/*verhaal titel*/ {
	float: left;
	font-size: 1.1rem;
	margin-left: 1rem;
	margin-top: 0.7rem;
}
article p:first-of-type/*verhaal nummer*/ {
	float: right;
	margin-right: 1rem;
	font-size: 1.1rem;
	margin-top: 0.7rem;
}
article p:nth-of-type(2)/*tijd*/ {
	font-size: 0.8rem;
	display: block;
	height: 2.5rem;
	width: 2.5rem;
	background-color: white;
	text-align: center;
	padding-top: 0.8rem;
	position: absolute;
	top: 0;
	right: 0;
}
article p:nth-of-type(3){
	display:none;
}
article svg/*hart*/ {
	background-color: white;
	fill: var(--blauw);
	width: 2.5rem;
	height: 2.5rem;
	padding: 0.4rem;
	position: absolute;
	top: 0;
	right: 3rem;
}
progress {
	color: var(--geel);
	background-color: white;
	position: relative;
	height: 0.3rem;
	bottom: 2.9em;
	border: none;
	width: 100%;
}

/*kleur veranderen voor alle browsers
bron: https://stackoverflow.com/questions/45507970/how-can-i-change-the-color-of-a-progress-bar-value-in-html#*/
progress::-webkit-progress-value {
 background: var(--geel);;
}
 progress::-moz-progress-bar {
 background: var(--geel);
}
 progress::-webkit-progress-value {
 background: var(--geel);;
}
 progress::-webkit-progress-bar {
 background: var(--geel);;
}

/*========== Mobiel tussen*/

@media (min-width: 30rem) {
	h2{
		margin-left: 2rem;
	}
	article:first-of-type {
	margin-left:2rem;
		
	}
}

/*========== Tablet*/


@media (min-width: 45rem) {
	.test{
		width:22rem;
	}
	
	.test h3/*verhaal titel*/ {
		float: left;
		font-size: 1.1rem;
		margin-left: 11.1rem;
		margin-top: 0.7rem;
	}
	.test img:first-of-type{
		position:absolute;
		display:block;
		width:10rem;
		height:100%;
		left:0;
	}

	.test p:first-of-type/*verhaal nummer*/ {
		float: right;
		margin-right: 1rem;
		font-size: 1.1rem;
		margin-top: 0.7rem;
	}
	.test p:nth-of-type(2)/*tijd*/ {
		left:7rem;
	}

	.test p:nth-of-type(3)/*beschrijving*/{
		display:block;
		position:absolute;
		overflow:hidden;
		width:10rem;
		left:11.1em;
		height:13rem;
	}

.test svg/*hart*/ {
	left:4rem;
	}
progress {
	bottom: -14.1rem;
	left:10rem;
	width: 12rem;
	}
}