@charset "UTF-8";
/*========== Kleur variabelen*/

:root {
 --achtergrond-grijs: #E6E6E9;
 --blauw: #263272;
 --geel:#FCCC04;
}
/*gebruik: var(--achtergrond-grijs)*/

/*========== Algemene selectoren*/

* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	/*transition*/
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}
p, h1, h2, h3 {
	color: var(--blauw);
}

/*========== Mobiel*/

/*Header*/

header {
	background-color: var(--blauw);
	position: fixed;
	top: 0;
	width: 100%;
	height: 3rem;
	z-index: 1;
}
header nav a p {
	text-decoration:none;
	font-size:1.5rem;
	color: white;
	display: none;
}
header nav a {
	font-family: 'Roboto', sans-serif;
	color: white;
}
header nav a img {
	display: block;
	height: 2rem;
	position: fixed;
}
[src="img/nslogo.png"] {
	left: 1rem;
	top: 0.5rem;
}
[src="img/hart.png"] {
	top:0.5rem;
	right:3.5rem;
}
[src="img/login.png"] {
	top:0.5rem;
	right:1rem;
}

/*button*/
button{
	z-index: 1;
	height:3rem;
	width:3rem;
	background-color: var(--blauw);
	position:fixed;
	bottom:0;
	padding:0;
	border:0;
	border-radius:0;
}
button p{
	display:none;
}

button img{
	height:100%;
	width:100%;
	
}
button:first-of-type/*zoeken*/{
	bottom:10rem;
}
button:nth-of-type(2)/*darkmode*/{
	padding:0.7em;
	bottom:6rem;
}

/*Main*/

body/*achtergrond kleur e.d.*/ {
	background-color: var(--achtergrond-grijs);
}
/*categorieen*/


section {
	display: flex;
	width: 100%;
	overflow-x: scroll;
	margin-top: 2rem;
}
section:first-of-type {
	margin-top: 4rem;
}
article:first-of-type {
	margin-left: calc((100% - 17rem) / 2);
}
article:last-of-type{
	margin-right:2rem;
	/*Waarom werkt dit niet?*/
}

h2 {
	position: absolute;
	margin-left: calc((100% - 17rem) / 2);
	font-size: 1.2rem;
}
/*Kaartje*/

article /*Kaartje*/ {
	margin: 1rem;
	margin-top: 2rem;
	background-color: white;
	width: 17rem;
	height: 17rem;
	position: relative;
	flex: none;
	
}
article img:first-of-type /*thumbnail*/ {
	width: 100%;
	height: 14rem;
	overflow: hidden;
	object-fit: cover;
}
h3/*verhaal titel*/ {
	float: left;
	font-size: 1.1rem;
	margin-left: 1rem;
	margin-top: 0.7rem;
}
article p:first-of-type/*verhaal nummer*/ {
	float: right;
	margin-right: 1rem;
	font-size: 1.1rem;
	margin-top: 0.7rem;
}
article p:nth-of-type(2)/*tijd*/ {
	font-size: 0.8rem;
	display: block;
	height: 2.5rem;
	width: 2.5rem;
	background-color: white;
	text-align: center;
	padding-top: 0.8rem;
	position: absolute;
	top: 0;
	right: 0;
}
article p:nth-of-type(3){
	display:none;
}
article svg/*hart*/ {
	background-color: white;
	fill: var(--blauw);
	width: 2.5rem;
	height: 2.5rem;
	padding: 0.4rem;
	position: absolute;
	top: 0;
	right: 3rem;
}
progress {
	color: var(--geel);
	background-color: white;
	position: relative;
	height: 0.3rem;
	bottom: 2.9em;
	border: none;
	width: 100%;
}

/*kleur veranderen voor alle browsers
bron: https://stackoverflow.com/questions/45507970/how-can-i-change-the-color-of-a-progress-bar-value-in-html#*/
progress::-webkit-progress-value {
 background: var(--geel);;
}
 progress::-moz-progress-bar {
 background: var(--geel);
}
 progress::-webkit-progress-value {
 background: var(--geel);;
}
 progress::-webkit-progress-bar {
 background: var(--geel);;
}

/*section:nth-of-type(even) article:nth-of-type(odd), section:nth-of-type(odd) article:nth-of-type(even){
	background-color:blue;
}*/



/*========== Mobiel tussen*/

@media (min-width: 30rem) {
	h2{
		margin-left: 2rem;
	}
	article:first-of-type {
	margin-left:2rem;
		
	}
}

/*========== Tablet*/



@media (min-width: 45rem) {
	
	/*header*/
	
	header nav a p {
		display:block;
		position:fixed;
		font-size:1.1rem;
		top:0.9rem;
	}
	header nav a:first-of-type /*NS stories*/ p{
		left:7rem;
	}
	
	header nav a:nth-of-type(2) p /*opgeslagen*/{
		right:17rem;
	} 
	header nav a:nth-of-type(3) p/*login*/{
		right:10rem;
		
	}
	
	/*[src="img/nslogo.png"] {
	left: 1rem;
	top: 0.5rem;
	}*/
	
	[src="img/hart.png"] {
	top:0.5rem;
	right:14rem;
	}
	
	[src="img/login.png"] {
	top:0.5rem;
	right:7.5rem;
	}
	
	/*buttons*/
	
	button{
		background-color:transparent;
	}
	button:first-of-type/*zoeken*/{
		top:-0.1rem;
		right:0.5rem;
	}
	button:nth-of-type(2)/*darkmode*/{
		top:-0.1rem;
		right:3.5rem;
	}
	
	/*Kaartjes*/
	
	/*Hier gebruik ik class, want anders moet ik het aanroepen als
	section:nth-of-type(even) article:nth-of-type(odd), section:nth-of-type(odd) article:nth-of-type(even)*/
	
	.breed{
		width:22rem;
	}
	
	.breed h3/*verhaal titel*/ {
		float: left;
		font-size: 1.1rem;
		margin-left: 11.1rem;
		margin-top: 0.7rem;
	}
	.breed img:first-of-type{
		position:absolute;
		display:block;
		width:10rem;
		height:100%;
		left:0;
	}

	.breed p:first-of-type/*verhaal nummer*/ {
		float: right;
		margin-right: 1rem;
		font-size: 1.1rem;
		margin-top: 0.7rem;
	}
	.breed p:nth-of-type(2)/*tijd*/ {
		left:7rem;
	}

	.breed p:nth-of-type(3)/*beschrijving*/{
		display:block;
		position:absolute;
		overflow:hidden;
		width:10rem;
		left:11.1em;
		top:2.6rem;
		height:13rem;
	}

	.breed svg/*hart*/ {
		left:4rem;
	}
	
	.breed progress {
	top: 14.1rem;
	left:10rem;
	width: 12rem;
	background-color:transparent;
	}
}

/*========== Tablet tussen*/

@media (min-width: 60rem){
	body{
	}
	section {
	overflow-x: visible;
	justify-content: space-around
}
	h2{
		flex:none;
	}
	article{
		margin: 2rem 0.5rem 0.5rem;
		flex-shrink: 2;
		
	}
	.breed p:nth-of-type(3)/*beschrijving*/{
		display:block;
		position:absolute;
		overflow:hidden;
		width:calc(90% - 10rem);
		left:11.1em;
		top:2.6rem;
		height:13rem;
	}
	.breed progress {
	top: 14.1rem;
	left:10rem;
	width:calc(100% - 10rem);
	}
}


/*========== desktop*/

@media (min-width: 70rem){
	
	/*header*/
	
	header{
		width:15rem;
		height:100%; 
	}
	
	/*main*/
	
	main{
		width:calc(100% - 15rem);
		float:right;
	}
	
	section{
		overflow-x:visible;
		display:flex;
		flex-shrink:0;
	}
	
}